h1 {
    color:rgb(70, 97, 57);
    background-color: rgb(231, 167, 71);
    font-size: 25px;
    text-align: center;
    
    }
    a {
    font-size: 25px;
    text-decoration: none;
    
    }
p {  
    
color:rgb(40, 42, 163);

background-color: rgb(176, 130, 202);



}




